.card {
  margin-top: 2rem;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  border-radius: 10px;
}

.card__thumb {
  height: 245px;
  overflow: hidden;
  background-color: #000;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.card__thumb img {
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, transform 0.5s;
  transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;

}
.card__thumb a img{
  border-radius: 0px;
}

.card__body {
  position: relative;
  padding: 20px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}

.card__category {
  position: absolute;
  top: -25px;
  left: 0;
  height: 25px;
  padding: 0 15px;
  background-color: rgba(30,144,255,0.8);
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 25px;
  border-top-right-radius: 5px;
}
.card__category a{
  color:white;
}
.card__title {
  margin: 0;
  padding: 0 0 10px 0;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
@media screen and (max-width: 786px){
  .card__thumb{
    height: 8rem;
  }
}
